<!DOCTYPE html>
<html>
<head>
	<title>Chords</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/chords.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
	<div id="menu_bar">
		<a href="../index.html#scroll">Home</a>
		<a href="scales.html">Scales</a>
		<a href="intervals.html">Intervals</a>
		<a id="checked" href="chords.html">Chords</a>
	</div>
	<div class="static">
		<h1>Chords: Triads</h1>
	</div>
	<div class="backg">
		A triad is a chord of three pitches, in which each of the notes are spaced a Major or a minor third apart.
		There are four triad qualities:	
	</div>
	<div class="container">
		<div id="column">
			<div id="major" class="backg">
				<img src="../images/cmaj.png">
				<div id="text">
					Major<br>
					M3 + m3
				</div>
			</div>
			<div id="augmented" class="backg">
				<img src="../images/caug.png">
				<div id="text">
					Aug<br>
					M3 + M3
				</div>
			</div>
		</div>
		<div id="column">
			<div id="minor" class="backg">
				<img src="../images/cmin.png">
				<div id="text">
					minor<br>
					m3 + M3
				</div>
			</div>
			<div id="diminished" class="backg">
				<img src="../images/cdim.png">
				<div id="text">
					dim<br>
					m3 + m3
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>