<!DOCTYPE html>
<html>
<head>
	<title>Intervals</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/Intervals.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
	<div id="menu_bar">
		<a href="../index.html#scroll">Home</a>
		<a href="scales.html">Scales</a>
		<a id="checked" href="">Intervals</a>
		<a href="chords.html">Chords</a>
	</div>
	<div class="static" id="title">
		<h1>Intervals</h1>
	</div>
	<div class="container">
		<div id="column">
			<div class="backg">
				An interval is the distance between two notes.<br>It possesses a <em>quality</em> and a <em>number</em>.
			</div>
			<div class="backg">
				To determine the <em>number</em> just count the letters between the notes, including the starting and ending points.
			</div>
			<div class="backg">
				The <em>quality</em> depends on the number. There are two groups of qualities:
				<ul id="list">
					<li>
						Perfect Intervals: Unisons, 4ths, and 5ths
					</li>
					<li>
						Imperfect Intervals: 2nds, 3rds, 6ths, and 7ths
					</li>
				</ul>
			</div>
		</div>
		<div id="example">
			<div>
				<p id="extext">Example: Major Third</p>
				<div>
					<b id="m">M</b>
					<p id="quality">Quality</p>
				</div>
				<div>
					<b id="three">3</b>
					<p id="number">Number</p>
				</div>
				<br>
			</div>
		</div>
	</div>
	<div class="table">
		<div class="backg">
			The table below shows the amount of half-steps corresponding to each interval:	
		</div>
		<div id="table">
			<img src="../images/interval_table.png" alt="table showing half-steps corresponding to each interval">
		</div>
		<div class="backg">
			For example:<br>There are 5 half-steps in a Perfect Fourth, and there are 3 half-steps in an Augmented Second	
		</div>
	</div>
</body>
</html>