<!DOCTYPE html>
<html>
<head>
	<title>Scales</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/scales.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
	<div id="menu_bar">
		<a href="../index.html#scroll">Home</a>
		<a id="checked" href="scales.html">Scales</a>
		<a href="intervals.html">Intervals</a>
		<a href="chords.html">Chords</a>
	</div>
	<div id="menu_bar2">
		<a href="#major">Major</a>
		<a href="#nat_minor">Natural Minor</a>
		<a href="#har_minor">Harmonic Minor</a>
		<a href="#mel_minor">Melodic Minor</a>
	</div>
	<div id="major" class="static">
		<h1>The Major Scale</h1>
		<div class="container">
			<div id="column">
				<img id="pic" src="../images/c-major-scale-on-treble-clef.png" alt="C Major Scale on Treble Clef">
				<img id="pic" src="../images/c-major-scale-on-bass-clef.png" alt="C Major Scale on Bass Clef">
			</div>
			<p class="backg">The pattern of notes for major scales is<br>W-W-H-W-W-W-H</p>
		</div>	
	</div>
	<div id="nat_minor" class="static">
		<h1>The Natural Minor Scale</h1>
		<div class="container">
			<div id="column">
				<img id="pic" src="../images/c-minor-scale-treble-clef.png" alt="C Natural Minor Scale on Treble Clef">
				<img id="pic" src="../images/c-minor-scale-bass-clef.png" alt="C Natural Minor Scale on Bass Clef">
			</div>
			<p class="backg">The pattern of notes for natural minor scales is<br>W-H-W-W-H-W-W</p>
		</div>
	</div>
	<div id="har_minor" class="static">
		<h1>The Harmonic Minor Scale</h1>
		<div class="container">
			<div id="column">	
				<img id="pic" src="../images/c-harmonic-minor-scale-on-treble-clef.png" alt="C Harmonic Minor Scale on Treble Clef">
				<img id="pic" src="../images/c-harmonic-minor-scale-on-bass-clef.png" alt="C Harmonic Minor Scale on Bass Clef">
			</div>
			<p class="backg">The pattern of notes for harmonic minor scales is<br>W-H-W-W-H-A2-H</p>
		</div>	
	</div>
	<div id="mel_minor" class="static">
		<h1>The Melodic Minor Scale</h1>
		<div class="container">	
			<div id="column">
				<img id="pic" src="../images/c-melodic-minor-scale-on-treble-clef.png" alt="C Melodic Minor Scale on Treble Clef">
				<img id="pic" src="../images/c-melodic-minor-scale-on-bass-clef.png" alt="C Melodic Minor Scale on Bass Clef">
			</div>
			<p class="backg">The pattern of notes for melodic minor scales is<br>W-H-W-W-W-W-H</p>
		</div>
	</div>
</body>
</body>
</html>